.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.cache
bin/
obj/
.vscode/
*.log
app.publish/
appsettings.Development.json
appsettings.Local.json
packages/
.env	
/appsettings.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
